<%- include('../_partials/_layout-start') %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% cart.forEach(cartItem => { %>
    <tr>
      <th scope="row"><%= cartItem.product._id %></th>
      <td><%= cartItem.product.name %></td>
      <td><%= cartItem.product.price %></td>
      <td><%= cartItem.quantity %></td>
      <th><%= cartItem.product.price * cartItem.quantity %></th>
    </tr>
    <% }) %>
  </tbody>
</table>

<h1>Total: <%= total %></h1>

<hr>

<form action="/cart/validate" method="post">
  <input type="submit" value="Valider le panier" class="btn btn-success">
</form>

<%- include('../_partials/_layout-end') %>
